body {
    background-color: rgb(18,35,45);
}
hr {
    width: 90%;
}
.blur {
    background-color: rgba(18,35,45,0.5);
}
.article {
  line-height: 1.2rem;
}
.agenda_item {
    display: flex;
    flex-flow: row nowrap;
}
.agenda_content {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}
.agenda_images {
    display: flex;
    flex-flow: column nowrap;
}

@media screen and (orientation: portrait) {
    .agenda_content {
        flex: 0 0 100%;
    }
    .agenda_images {
        display: none;
    }
}
@media screen and (orientation: landscape) {
    .agenda_content {
        flex: 0 0 60%;
        padding-left: 2%;
    }
    .agenda_images {
        flex: 1 1 40%;
    }
}

@media only screen and (min-width: 768px) {
}
