/* Average colors in bg_img [mean](med):
 * red: [101] (77)
 * green: [86] (64)
 * blue: [61.3] (47)
*/
.blur {
    background-color: rgba(63,63,63,0.5);
}
.bg_img {
    bottom: 0;
    /* right: 0; */
    /* top: 0; */
    /* left: 0; */
    background-color: rgb(63,63,63);
    background-image: url('../img/contact_medium.jpg');
    background-position: center center;
}
.shadow {
    text-shadow: 1px 1px rgb(63,63,63);
}
h1 {
    text-shadow: 1px 1px rgb(63,63,63);
}
h7 {
    text-shadow: 1px 1px rgb(63,63,63);
}

@media screen and (orientation: portrait) and (max-width: 769px) {
  .article {
      padding-top: 60%;
      padding-top: 60vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 769px) {
  .article {
      padding-top: 30%;
      padding-top: 30vh;
  }
}

@media only screen and (min-width: 770px) {
  .article {
      padding-top: 60%;
      padding-top: 60vh;
  }
  .bg_img {
      background-image: url('../img/contact_large.jpg');
  }
}
