/* Average colors in bg_img [mean](med):
 * red: (64)
 * green: (56)
 * blue: (57)
*/
.blur {
    background-color: rgba(64,56,57,0.5);
}
.bg_img {
    bottom: 0;
    /* right: 0; */
    /* top: 0; */
    /* left: 0; */
    background-color: rgb(85,47,10);
    background-image: url('../img/molen_large.jpg');
    background-position: center;
}
.shadow {
    text-shadow: 1px 1px rgb(85,47,10);
}
.split_item {
    display: flex;
    flex-flow: row nowrap;
}
h1 {
    text-shadow: 1px 1px rgb(85,47,10);
}
h7 {
    text-shadow: 1px 1px rgb(85,47,10);
}

@media screen and (orientation: portrait) {
   .split_content {
       flex: 0 0 100%;
   }
   .split_images {
       display: none;
   }
   .navigation {
       padding-top: 30%;
       padding-top: 30vh;
   }
  .article {
      padding-top: 60%;
      padding-top: 60vh;
  }
}

@media screen and (orientation: landscape) {
  .split_content {
      flex: 0 0 60%;
      padding-left: 2%;
  }
  .split_images {
      display: flex;
      flex: 0 0 40%;
      flex-flow: column nowrap;
  }
  .article {
      padding-top: 30%;
      padding-top: 30vh;
  }
}

@media only screen and (min-width: 768px) {
  .article {
      padding-top: 30%;
      padding-top: 30vh;
  }
  .bg_img {
      background-image: url('../img/molen_large.jpg');
  }
}
