* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    padding-bottom: 30%;
}
body {
    background-color: black;
    color: #FFFFDF;
    font-family: Amiri-Regular;
    font-size: 11px;
    font-size: 1.1rem;
    margin: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    text-align: left;
}
span {
    padding: 3px 5px;
}
h1 {
    font-family: Amiri-Regular;
    font-size: 20px;
    font-size: 2em;
    font-stretch: extra-expanded;
    font-weight: normal;
    letter-spacing: 5px;
    margin: 1em 0.3em;
    text-decoration: none;
}
h2 {
    font-family: Amiri-Regular;
    font-size: 11px;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
}
h7 {
    font-family: Amiri-Regular;
    font-size: 11px;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 0;
    text-decoration: none;
}
p {
    display: inline-block;
    font-family: Amiri-Regular;
}
a {
    color: #FFFFDF;
    font-family: Amiri-Regular;
    letter-spacing: 1px;
    text-decoration: underline;
}
a:visited {
    color: #FFFFDF;
    text-decoration: none;
}
hr {
    color: #FFFFDF;
}
.article {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 80%;
    flex-grow: 1;
    flex-shrink: 1;
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 0;
    padding: 0 5%;
    z-index: 2;
}
.navigation {
    display: none;
    position: fixed;
    left: 4%;
    top: 5%;
    font-size: 1.4rem;
    line-height: 2em;
    word-spacing: 7px;
    z-index: 2;
}
.navigation a {
    text-decoration: none !important;
}
.navigation li {
    cursor: pointer;
    padding: 0;
}
.navigation ul {
    margin-top: 1em;
    white-space: nowrap;
}
.icon_container {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
    z-index: 2;
}
.blur {
    background: transparent;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    border-radius: 5px;
    padding: 3px 5px;
}
.flavor {
    font-style: italic;
}
.bg_img {
    background-attachment: scroll;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-origin: border-box;
    -webkit-background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    display: initial;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.youtube_container {
    background-color: transparent;
    border-radius: 5px;
    display: block;
    margin: 3px 5px;
    padding-top: 50.65%;
    position: relative;
    width: 90%;
}
.sound_container {
    background-color: transparent;
    border-radius: 5px;
    display: block;
    margin: 1em 2em;
    padding-top: 15%;
    position: relative;
    text-align: center;
    width: 90%;
}
.container {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    height: 100%;
    align-contant: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.img_full {
    border-radius: 5px;
    margin: 1em 0;
    width: 100%;
}
.no_lineheight {
    line-height: 0 !important;
}
.no_top_margin {
    margin-top: 0 !important;
}
.menu_icon {
    cursor: pointer;
    height: 32px;
    height: 3.2em;
    margin: 3em;
    padding: 0;
    stroke: #FFFFDF;
    width: 32px;
    width: 3.2em;
    z-index: 3;
}
@media screen and (orientation: portrait) {
    .sound_container {
        padding-top: 15%;
        width: 90%;
    }
}
@media screen and (orientation: landscape) {
    .sound_container {
        padding-top: 11%;
        width: 65%;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop/tablet: */
    html {
        font-size: 100%;
    }
    body {
        font-size: 16px;
        font-size: 1rem;
    }
    h1 {
        font-size: 32px;
        font-size: 2em;
    }
    h2 {
        font-size: 18px;
        font-size: 1.1em;
    }
    h7 {
        font-size: 18px;
        font-size: 1.1em;
    }
    .navigation {
        display: block;
        font-size: 1.1rem;
        line-height: 2.2em;
        padding: 8% 4%;
        left: auto;
        right: 2rem;
        bottom: auto;
        top: 2rem;
    }
    .article {
        flex-basis: 50%;
        flex-grow: 0;
        line-height: 2em;
        padding: 7% 5%;
    }
    .container {
        flex-wrap: nowrap;
    }
    .icon_container {
        display: none;
    }
}
@media only screen and (min-width: 1920px) {
    /* Very large screens */
    html {
        font-size: 112,5%;
    }
    body {
        font-size: 18px;
        font-size: 1rem;
    }
    h1 {
        font-size: 36px;
        font-size: 2em;
    }
    h2 {
        font-size: 20px;
        font-size: 1.1em;
    }
    h7 {
        font-size: 20px;
        font-size: 1.1em;
    }
    .article {
        line-height: 2.2em;
    }
    .navigation {
        line-height: 2.5em;
    }
}
/* make nav and article fit together on ipad like screens */
@media only screen and (orientation: portrait) and (min-width: 765px) and (max-width: 926px) {
  .navigation {
    font-size: 1em;
    padding-right: 0;
    right: 0;
  }
}
