/* * { */
/*     box-sizing: border-box; */
/* } */
html {
    font-size: 62.5%;
}
body {
    background-color: black;
    color: #FFFFDF;
    font-family: Amiri-Regular;
    font-size: 11px;
    font-size: 1.1rem;
    margin: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
ul {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
    white-space: nowrap;
}
li {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: left;
}
span {
    padding: .1em .3em;
}
h1 {
    font-family: Amiri-Regular;
    font-size: 20px;
    font-size: 2rem;
    font-stretch: extra-expanded;
    font-weight: normal;
    letter-spacing: 5px;
    margin: 1em 0.3em;
    text-decoration: none;
}
h2 {
    font-family: Amiri-Regular;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
}
p {
    font-family: Amiri-Regular;
    letter-spacing: 1px;
    line-height: 1.5em;
}
a {
    color: #FFFFDF;
    font-family: Amiri-Regular;
    letter-spacing: 1px;
    text-decoration: underline;
}
a:visited {
    color: #FFFFDF;
    text-decoration: none;
}
hr {
    color: #FFFFDF;
}
.article {
    display: block;
    flex-basis: 80%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 7% 5%;
}
.navigation {
    display: none;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.4rem;
    line-height: 2;
    padding: 8% 4%;
    word-spacing: 7px;
    z-index: 2;
}
.navigation a {
    text-decoration: none !important;
}
.navigation li {
    cursor: pointer;
    padding: 0;
}
.navigation ul {
    margin-top: 1em;
}
.icon_container {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: right;
}
.blur {
    background: transparent;
    border-radius: 5px;
    padding: .1em .3em;
}
.flavor {
    font-style: italic;
}
.bg_img {
    background-attachment: fixed;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-origin: border-box;
    -webkit-background-origin: border-box;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    bottom: 0;
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: -1;
}
.youtube_container {
    background-color: transparent;
    border-radius: 5px;
    padding-top: 56.25%;
    position: relative;
}
.container {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}
.img_full {
    border-radius: 5px;
    width: 100%;
}
.no_lineheight {
    line-height: 0 !important;
}
.no_top_margin {
    margin-top: 0 !important;
}
.menu_icon {
    cursor: pointer;
    height: 32px;
    height: 3.2rem;
    margin: 1em;
    padding: 0;
    stroke: #FFFFDF;
    width: 32px;
    width: 3.2rem;
    z-index: 3;
}
@media only screen and (min-width: 767px) {
    /* For desktop/tablet: */
    html {
        font-size: 100%;
    }
    body {
        font-size: 16px;
        font-size: 1rem;
    }
    h1 {
        font-size: 32px;
        font-size: 2rem;
    }
    h2 {
        font-size: 18px;
        font-size: 1.1rem;
    }
    .container {
        flex-wrap: nowrap;
    }
    .icon_container {
        display: none;
    }
    .navigation {
        display: block;
        font-size: 1.1rem;
        line-height: 1.5;
        position: fixed;
        right: 2%;
        top: 2em;
    }
    .article {
        flex-grow: 0;
        flex-basis: 50%;
    }
}
@media only screen and (min-width: 1920px) {
    /* Very large screens */
    html {
        font-size: 112,5%;
    }
    body {
        font-size: 18px;
        font-size: 1rem;
    }
    h1 {
        font-size: 36px;
        font-size: 2rem;
    }
    h2 {
        font-size: 28.8px;
        font-size: 1.6rem;
    }
}
