.blur {
    background-color: rgba(0,0,0,0.3);
}
.bg_img {
    /* bottom: 0; */
    right: 0;
    top: 0;
    /* left: 0; */
    background-color: rgb(0,0,0);
    background-image: url('../img/verte_medium.jpg');
    background-position: left top;
}
.shadow {
    text-shadow: 1px 1px rgb(0,0,0);
}
h1 {
    text-shadow: 1px 1px rgb(0,0,0);
}
h7 {
    text-shadow: 1px 1px rgb(0,0,0);
}

@media screen and (orientation: portrait) {
   .navigation {
       padding-top: 30%;
       padding-top: 30vh;
   }
  .article {
      padding-top: 60%;
      padding-top: 60vh;
  }
}

@media screen and (orientation: landscape) {
  .article {
      padding-top: 30%;
      padding-top: 30vh;
  }
}

@media only screen and (min-width: 768px) {
  .article {
      padding-top: 30%;
      padding-top: 30vh;
  }
  .bg_img {
      background-image: url('../img/verte_large.jpg');
  }
}
