/* Average colors in bg_img [mean](med):
 * red: (85)
 * green: (47)
 * blue: (10)
*/
.blur {
    background-color: rgba(85,47,10,0.5);
}
.bg_img {
    /* bottom: 0; */
    /* right: 0; */
    top: 0;
    /* left: 0; */
    background-color: rgb(85,47,10);
    background-image: url('../img/waai_small.jpg');
    background-position: center top;
}
.shadow {
    text-shadow: 1px 1px rgb(85,47,10);
}
h1 {
    text-shadow: 1px 1px rgb(85,47,10);
}
h7 {
    text-shadow: 1px 1px rgb(85,47,10);
}
@media screen and (orientation: portrait) {
   .navigation {
       padding-top: 30%;
       padding-top: 30vh;
   }
  .article {
      padding-top: 60%;
      padding-top: 60vh;
  }
}

@media screen and (orientation: landscape) {
  .article {
      padding-top: 30%;
      padding-top: 30vh;
  }
}

@media only screen and (min-width: 768px) {
  .article {
      padding-top: 30%;
      padding-top: 30vh;
  }
  .bg_img {
      background-image: url('../img/waai_medium.jpg');
  }
}
