* {
    box-sizing: border-box;
}
html {
    font-family: orpheuspro, serif;
    font-size: 16px;
    margin: 0;
}
body {
    text-align: center;
    font-size: 100%;
    margin: 0;
}
p {
    text-align: left;
    margin: 1em auto;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    display: inline-block;
    width: 100%;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin: 1em 0 0 0;
}
h5 {
    float: left;
    position: relative;
    top: 12px;
    left: 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
img {
    margin: 1em auto;
}
.container {
    padding-bottom: 20%;
}
.header {
    display: block;
    width: 100%;
    height: 10%;
}
.header img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.footer {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
}
.footer img {
    position: absolute;
    bottom: -24px;
    left: 0;
    margin: 0;
}
.back_to_top {
    margin: 4em auto;
    max-width: 100%;
    cursor: pointer;
}
.back_to_top img {
    width: 15%;
    display: block;
}
.flavor {
    margin: 1.5em auto;
    font-size: 1.5rem;
}
.quote {
    font-size: 1.5rem;
    width: 80%;
    cursor: pointer;
    text-align: center;
}
.quote img {
    display: block;
    height: 2rem;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
.full_width {
    width: 100%;
}
.text_width {
    width: 90%;
}
.no_top_margin {
    margin-top: 0 !important;
}
.copyright {
    text-align: right;
    /* float: right; */
}
.youtube_container {
    background-color: transparent;
    border-radius: 5px;
    display: block;
    margin: 1em auto;
    padding-top: 50.65%;
    position: relative;
}
