/* * { */
/*     box-sizing: border-box; */
/* } */

body {
    background-color: black;
    color: #FFFFDF;
    font-family: Amiri-Regular, Gardamond, sans-serif;
    font-size: 11px;
    margin: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
p {
    font-family: Amiri-Regular, Gardamond, sans-serif;
    width: 50%;
    line-height: 1.5em;
}
.bg_img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    display: none;
    height: 100%;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: fixed;
    right: 0;
    -webkit-background-size: cover;
    width: 100%;
    z-index: -1;
}
.bg_index {
    background-image: url('./img/index_large.jpg');
    background-position: center;
    background-color: gray;
}
.bg_brug {
    background-image: url('./img/brug_large.jpg');
    background-position: center;
    background-color: gray;
}
.container {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}
.article {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 7% 5%;
    width: 80%;
}
.flavor {
    font-style: italic;
}
.navigation {
    display: none;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0;
    padding: 7% 3%;
    word-spacing: 5px;
}
.navigation a {
    text-decoration: none !important;
}
.menu_icon {
    cursor: pointer;
    display: block;
    height: 32px;
    position: absolute;
    right: 5%;
    top: 3%;
    width: 32px;
}
a {
    color: #FFFFDF;
    font-family: Amiri-Regular;
    text-decoration: underline;
}
a:visited {
    color: #FFFFDF;
    text-decoration: none;
}
.blur {
    background: transparent;
    background: rgba(18,18,12,0.5);
}
.blur_brug {
    background: rgba(48,48,32,0.5);
}
ul {
    margin: 2em 0;
    list-style-type: none;
    white-space: nowrap;
}
li {
    cursor: pointer;
    margin: 0.1em 0.3em;
    text-align: left;
}
h1 {
    font-family: Amiri-Regular;
    font-size: 1.8em;
    font-stretch: extra-expanded;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 2em 0.3em;
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    /* For desktop/tablet: */
    body {
        font-size: 16px;
    }
    .bg_index {
        background-image: url('./img/index_large.jpg');
    }
    .bg_brug {
        background-image: url('./img/brug_large.jpg');
    }
    .menu_icon {
        display: none;
    }
    .navigation {
        display: flex;
    }
    .article {
        display: flex;
    }
}
