/* * { */
/*     box-sizing: border-box; */
/* } */

body {
    background-color: black;
    color: #FFFFDF;
    font-family: Amiri-Regular, Gardamond, sans-serif;
    font-size: 11px;
    margin: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
p {
    font-family: Amiri-Regular;
    letter-spacing: 1px;
    line-height: 1.7em;
    width: 50%;
}
.bg_img {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    bottom: 0;
    height: 100%;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: -1;
}
.youtube_container {
    background-color: gray;
    padding-top: 33.75%;
    position: relative;
    width: 60%;
}
.bg_index {
    background-color: gray;
    background-image: url('./img/index_large.jpg');
    background-position: center;
}
.bg_brug {
    background-color: gray;
    background-image: url('./img/brug_large.jpg');
    background-position: center;
}
.bg_agenda {
    background-color: #112332;
}
.article {
    display: block;
    flex-flow: column nowrap;
    height: 93%;
    margin: 0;
    padding: 7% 20% 0 5%;
    visibility: visible;
    width: 75%;
}
.flavor {
    font-style: italic;
}
.navigation {
    display: block;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0;
    padding: 7% 3%;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    word-spacing: 5px;
    z-index: 2;
}
.navigation a {
    text-decoration: none !important;
}
.menu_icon {
    cursor: pointer;
    display: block;
    height: 32px;
    position: absolute;
    right: 5%;
    top: 3%;
    width: 32px;
    z-index: 3;
}
a {
    color: #FFFFDF;
    font-family: Amiri-Regular;
    text-decoration: underline;
}
a:visited {
    color: #FFFFDF;
    text-decoration: none;
}
.blur {
    background: transparent;
    background: rgba(18,18,12,0.5);
}
.blur_brug {
    background: transparent;
    background: rgba(48,48,32,0.5);
}
.blur_agenda {
    background: transparent;
    background: rgba(17,35,50,0.5);
}
ul {
    list-style-type: none;
    margin: 2em 0;
    padding: 0;
    white-space: nowrap;
}
.nav {
    cursor: pointer;
    margin: 0.1em 0.3em;
    text-align: left;
}
h1 {
    font-family: Amiri-Regular;
    font-size: 1.8em;
    font-stretch: extra-expanded;
    font-weight: 1;
    letter-spacing: 5px;
    margin: 2em 0.3em;
    text-decoration: none;
}
h2 {
  font-family: Amiri-Regular;
  font-size: 1.7em;
  font-weight: bold;
  margin: 1em 0 0 0;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
    /* For desktop/tablet: */
    body {
        font-size: 16px;
    }
    .bg_index {
        background-image: url('./img/index_large.jpg');
    }
    .bg_brug {
        background-image: url('./img/brug_large.jpg');
    }
    .menu_icon {
        display: none;
    }
    .navigation {
        visibility: visible;
    }
    .article {
        visibility: visible;
    }
}
@media only screen and (min-width: 1920px) {
    /* Very large screens */
    body {
        font-size: 18px;
    }
}
